@model AdminCreateMovieModel

<h1>Create Movie</h1>
<hr />
<form method="post" asp-controller="Admin" asp-action="MovieCreate">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ReleaseDate"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="IsClassic"></label>
                <input asp-for="IsClassic" type="checkbox" />
                <span asp-validation-for="IsClassic" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
        <div class="col-md-4">

            @foreach (var item in (List<Genre>)ViewBag.Genres)
            {
                <div class="form-check">
                    <input class="form-check-input" 
                           type="checkbox"
                           name="GenreIds"
                           value="@item.GenreId"
                           id="genre_@(item.GenreId)" 
                           @(Model.GenreIds != null && Model.GenreIds.Any(i => i == item.GenreId) ? "checked" : "")
                           >
                    <label class="form-check-label" for="genre_@(item.GenreId)">
                        @item.Name
                    </label>
                </div>

            }
            <span asp-validation-for="GenreIds" class="text-danger"></span>

        </div>
    </div>
</form>

