<div class="nav-link active">
    <div class="dropdown">
        <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span>@User.Identity.Name</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/admin/usercreate">Create User</a></li>
            <li><a class="dropdown-item" href="/admin/userupdate">Update User</a></li>
            <li><a class="dropdown-item" href="/admin/rolecreate">Create Role</a></li>
            <li><a class="dropdown-item" href="/admin/rolelist">Update Role</a></li>
            <li><a class="dropdown-item" href="/admin/moviecreate">Create Movie</a></li>
            <li><a class="dropdown-item" href="/admin/movielist">Update Movie</a></li>
            <li><a class="dropdown-item" href="/admin/genrelist">Create Genre</a></li>
           

            <li><a class="dropdown-item" href="/security/logout">Çıkış Yap</a></li>
        </ul>
    </div>
</div>