@model RegisterModel


<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Kayıt ol</p>

                            <form class="mx-1 mx-md-4" asp-controller="Security" asp-action="Register" method="post" novalidate>
                                <div asp-validation-summary="All"></div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <label asp-for="UserName" class="form-label" for="form3Example1c">Kullanıcı Adı</label>
                                        <input asp-for="UserName" type="text" id="form3Example1c" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                @*<div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <label asp-for="Name" class="form-label" for="form3Example1c">İsim</label>
                                        <input asp-for="Name" type="text" id="form3Example1c" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>*@

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <label asp-for="Email" class="form-label" for="form3Example3c">Email</label>
                                        <input asp-for="Email" type="email" id="form3Example3c" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <label asp-for="Password" class="form-label" for="form3Example4c">Şifre</label>
                                        <input asp-for="Password" type="password" id="form3Example4c" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <label asp-for="RePassword" class="form-label" for="form3Example4cd">Tekrar Şifre </label>
                                        <input asp-for="RePassword" type="password" id="form3Example4cd" class="form-control" />
                                        <span asp-validation-for="RePassword" class="text-danger"></span>
                                    </div>
                                </div>

                                @*<div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <label asp-for="BirthDate" class="form-label" for="form3Example4cd">Doğum Tarihi</label>
                                        <input asp-for="BirthDate" id="form3Example4cd" class="form-control" />
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    </div>
                                </div>*@



                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" class="btn btn-primary btn-lg">Kayıt Ol</button>
                            </div>

                        </form>

                    </div>
                       <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/user-account-sign-up-4489360-3723267.png"
                                 class="img-fluid" alt="Sample image">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</section>*@

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
